*{
    border: red 1px solid;
}

#container {
    /* background-color: #212F3C; */
}

#logo {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: -1;
}


#header {
    font-family: 'Lobster', cursive;
    color: #EC7063;
    width: 100%;
    background-color: transparent;  
    text-align: center;

    height: 300px;
    background-image: url(images/salmon.png);
    background-repeat: no-repeat;
    background-position: center center;

    padding-top: 10%;
    box-sizing: border-box;
}

#main {
    display: flex;
}

#section {
    width: 60%;
}

#nav {
    width: 40%;
    position: sticky;
    align-self: flex-start;
    top: 100px;
}